.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
}

.title {
    width: 45px;
}

.container-chart {
    width: 250px;
}

.cover {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.root {
    background-color: white;
    position: relative;
    height: 26px;
    width: 26px;
    border-radius: 100%;
    border: solid white 1px;
    z-index: 1;
}

.child {
    height: 20px;
    width: 20px;
    margin-top: 2px;
    margin-left: 2.5px;
    border-radius: 100%;
}

.box{
    background-color: white;
    position: absolute;
    width: 200px;
    height: 9px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: solid white 1px;
    border-right: solid white 1px;
    border-bottom: solid white 1px;
    display: flex;
    justify-content: left;
    margin-left: 20px;
}

.temperature {
    height: 4px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 2px;
}

.info {
    width: 90px;
}
